
/* NAVIGATION */
.nav {
    display: flex;
    padding-top: 3rem;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100%;
    background-color: #2a3159;
    filter: blur(0.3px);

}

.navbar-brand {
    margin-left: 5%;
    padding-right: 10%;
    font-size: 3rem !important;
    font-weight: bold;
    color:#FFFFFF;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #1bfcd3;
}

.nav__links{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-link{
    display: block;
    padding-right: 0rem;
    font-size: 1.5rem ;
    font-weight: bold ;
    color: #00ffdd;
    text-decoration: none;
}

.nav-link:hover {
    color:white;
    font-size: 1.6rem ;

}


/*HEADER*/
.header {
    padding: 5rem 3rem;
    background-color: #90cec2;
    background-position: center;
    text-align: center;
    filter: blur(0.2px);
}


#admin{
    font-size: 3rem;
    font-weight: bold;
    color: #1b1e21;
    text-decoration: none;
}

/*rows*/

.row {
    margin: 5% auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
}

.row > div[class*='col-'] {
    display: flex;
}

.card-title{
    text-align:center;
}


section{
    background-color: #90cec2;
    background-position: center;
    text-align: center;
    filter: blur(0.2px);
}
.container{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0rem;
    align-content: center;

}

.table-responsive{
    background-color: white;
    text-align: center;
    filter: blur(0.2px);
}

.table-striped {
    background-color:  #e8e8e8;
}

.btn{
    background-color: #ec6eea !important;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.btn:hover{
    background-color: #1bfcd3 !important;
    color: white !important;
    text-decoration: none;
}

.table{
    justify-content: center;
    margin: 0 auto !important;
}

.Chartcontainer{
    background-color:  #e8e8e8 !important;

}

    /* FOOTER */
.footer {
    display: flex;
    padding-top: 3rem;
    align-items: center !important;
    height: 9rem;
    width: 100%;
    background-color: #2a3159;
    filter: blur(0.3px);
    text-align: center;
    justify-content: center;

}

.footer__nav {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer__item {
    margin-right: 4rem;
}

.footer__link {
    font-size: 1.2rem;
    color: #eee;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.footer__link:hover {
    color: #1bfcd3;
    font-size: 1.3rem;
    text-decoration: none;
}

/***FOOTER END***/